*.jar
*.disabled
.fabric
/crash-reports
/data
/datapacks
/logs
/saves
/resourcepacks
/not-enough-crashes
usernamecache.json
usercache.json
rhino.local.properties
/options.txt
/Xaero*
/.vscode
/mods
/shaderpacks
/emi.json
/config/byg/backups
config/byg/backups/last_working_configs_backup.zip
config/bclib/cache.json
