*.jar
*.disabled
.fabric
/crash-reports
/data
/datapacks
/logs
/saves
/resourcepacks
/not-enough-crashes
usernamecache.json
usercache.json
rhino.local.properties
/options.txt
/Xaero*
/.vscode
/mods
/shaderpacks
/emi.json
